/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
}

.top-menu {
  font-size: 5em;
  text-align: center;
  padding: 30px;
}

.main {
  text-align: center;
}

.add {
  font-size: 1.4em;
  background-color:black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 25px;
}

.add:hover {
  background-color: grey;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}



input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.modal-content {
  display: flex;
  line-height: 2em;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 30rem;
  border-radius: 0.5rem;
  font-size: 2em;
}

.modal-content input {
  font-size: .8em;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-btn:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 0 50px;
}

.card{
  display: flex;
  flex-flow: column;
  border: solid black 1px;
  border-radius: 10px;
  padding: 20px 20px;
  font-size: 1.5em;
  gap:10px;
  color: rgb(32,33,36);
  background-color: white;
  margin-right: 20px;
  width: 200px;
}

.card-btn{
  border: none;
  background-color: rgb(34, 34, 216);
  border-radius: 10px;
  font-size: 1em;
  color: white;
}
.card-btn:hover{
  background-color: rgb(50, 137, 219);
}
.rm-btn{
  border:none;
  background-color: red;
  border-radius: 10px;
  font-size: 1em; 
  color: white;
}
.rm-btn:hover{
  background-color: palevioletred;
}

input[type='submit']{
  background-color: black;
  border:none;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
}

input[type='submit']:hover {
  background-color: grey;
}